@model Book

<br />
<div class="card">
    <div class="card-header">
        <h4>
            @Model.Title
            <span class="font-weight-bold" style="float:right">
                @Model.Price.ToString("c")
            </span>
        </h4>
        <div>
            <div class="badge badge-secondary">@Model.Classification</div>
            <div class="badge badge-dark">@Model.Category</div>
            <span class="font-weight-light" style="float:right">
                @Model.Pages Pages
            </span>
        </div>
    </div>
    <div class="card-body row">
        <div class="col-7">
            <div class="card-subtitle mb-2">Author: @Model.Author</div>
            <div class="card-text">Publisher: @Model.Publisher</div>
            <div class="card-text text-muted small">@Model.ISBN</div>
        </div>
        @*add to cart button*@
        <div class="col-5">
            <form id="@Model.BookId" asp-page="/Buy" method="post">
                <input type="hidden" asp-for="BookId" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-success" style="float:right">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
  
</div>